<div class="w-full mr-10 ml-10 pl-10 pr-10">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Habits" %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl">Ваши привычки</h1>
    <%= link_to "Создать привычку", new_habit_path, class: "rounded-lg py-3 px-5 bg-gray-600 hover:bg-blue-600 rounded-2xl block font-medium" %>
  </div>

  <div 
    id="habits" 
    class="grid gap-x-10 gap-y-6 justify-center"
    style="grid-template-columns: repeat(4, minmax(250px, 1fr));"
  >

    <% @habits.each do |habit| %>
      <%= render habit %>
    <% end %>

  </div>
</div>
