<div class="w-full  text-white" >
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Habits" %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl">Ваши привычки</h1>
    <%= link_to "Создать привычку", new_habit_path, class: "rounded-lg py-3 px-5 bg-gray-600 hover:bg-blue-600 rounded-2xl block font-medium" %>
  </div>

  <div id="habits" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
  <% @habits.each do |habit| %>
    <%= render habit %>
  <% end %>
</div>

</div>
