
<header class="bg-headerColor font-size-2 p-2 rounded flex justify-center space-x-4 p-5 text-lg">

    <div>
    </div>
    <%= nav_link_to "Главная", root_path %> 

    <%= nav_link_to "Список привычек", habits_path %> 
    <%= nav_link_to "Профиль", profile_path %>

 </header>
